*{
	margin: 0px;
	padding: 0px;
}

body {
	background: #BCCEEE;
	/* border: 10px solid red; */
}

#index {
	display: block;
	margin: 0px auto;
	/* border: 10px solid red; */
}

#wrapper {
	width: 100%;
	margin: 0px auto;
	min-width: 760px;
	/* border: 10px solid green; */
	
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

#auth{
	float: left;
	text-decoration: none;
	margin-left: 10px;
	font-family: Georgia, "Times New Roman";
	font-weight: bold;
	color: #FDF3AE;
}

		#auth a:link, #auth a:visited{
			text-decoration: none;
			color: #FDF3AE;
		}
		#auth a:hover{
			text-decoration: none;
			color: #000000;
		}
		#auth a:active{
			text-decoration: underline;
			color: #000000;
		}

#basket{
	float: right;
	font-size: 17px;
	margin-right: 10px;
	line-height: 35px;
	color: #6D451D;
	font-weight: bold;
	font-family: Georgia, "Times New Roman";
	border: 1px solid black; 
	padding: 0px 5px;
	text-decoration: none;
	background: #FDF3AE;
}
		#basket:hover{
			text-decoration: none;
			color: #FDF3AE;
			background: #6D451D;
		}
		#basket:active{
			text-decoration: underline;
			color: #000000;
		}

.header {
	background: #6D451D;
}

aside {
	width: 300px;
	height: 550px;
	/* border-right: 5px solid blue; */
	float: left;
	position: fixed;
}
		aside p{
			font: bold 28px/50px "Times New Roman", Georgia, serif;
			border: 1px solid blue;
			text-align: center;
		}
		aside ul {
			font-size: 0px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		aside li {
			font-size: 20px;
			list-style-type: none;
			/* border: 1px solid blue; */
			text-align: center;

		}
		.active {
			background: white;
		}
		aside ul a:link, aside ul a:visited {
			text-decoration: none;
			display: block;
			color: green;

		}
		aside ul a:hover {
			background: white;
		}

main {
	/* border: 10px solid red; */
	margin-left: 300px;
	min-height: 600px;
}

		main p {
			text-indent: 25px;
			font: bold 19px/27px "Times New Roman", Georgia, serif;
		}

footer {
	border: 10px solid brown;
	height: 100px;
	/* font: normal 30px/55px Arial; */
}

	#footer_right {
		float: right;
		font: normal 30px/45px Arial;
		margin-right: 20px;
	}
	#footer_right li{
		list-style-type: none;
	}

	/* footer a{ */
		/* display: block; */
		/* float: right; */
		/* font: normal 30px/55px Arial; */
		/* text-align: center; */
		/* margin: 20px; */
	/* } */

	#footer_left{
		float: left;
		font: normal 30px/55px Arial;
		line-height: 100px;
		text-align: center;
		margin-left: 20px;
	}

.paragraph{
	font: normal 30px/55px Arial;
	margin-left: 25px;
	/* color: red; */
}

.reg input {
	width: 200px;
	height: 30px;
	margin-left: 25px;
}

.message_auth {
	font: italic 30px/55px Arial;
	text-align: center;
	color: red;
}

#subcategory ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
#subcategory li{
	list-style-type: none;
	text-align: center;
}

#subcategory img{
	width: 330px;
	height: 330px;
	/* border: 5px solid red; */
}

.div_image {
	/* margin-left: 30px; */
	margin: 10px 30px 20px;
}

.good img{
	margin: 30px;
	width: 450px;
	height: 450px;
}

table tr, table td, table th{
	border: 1px dashed black;
	padding: 10px;
	text-align: center;	
	font-size: 18px;
}

.td_name {
	text-align: left;	
}

table {
	border: 1px solid black;
	background-image: url("img/Daisies.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
table img {
	width: 110px;
	height: 110px;
}

#check {
	width: 150px;
	height: 40px;
}

.empty_basket {
	color: #0B2B66;
	font-size: 30px;
	line-height: 70px;
}

#input_sept {
	width: 500px;
}





.clearfix {
	clear: both;
}
